<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            Teawale
        </title>
        <link href="./../styles/style.css" rel="stylesheet">
            <script src="https://use.fontawesome.com/6ff39c47d2.js">
            </script>
        </link>
    </head>
    <body>
        <div class="bg-contrast header" id="header">
        </div>
        <div class="content" id="content-wrapper">
            <div class="about-us-article">
                <div class="article-image">
                    <img src="./../assets/article-1.jpg"/>
                </div>
                <div class="article-content">
                    <h2>
                        About Teawale
                    </h2>
                    <p>
                        Teawale revolutionized the way Tea is consumed in India. We are changing the traditional way of going to store every time for a cup of tea. You can now subscribe to your love for tea and can enjoy it at home everyday while playing with your pets or watching your favourite series.
                    </p>
                </div>
                <hr/>
            </div>
            <div class="about-us-article">
                <div class="article-image">
                    <img src="./../assets/article-2.png"/>
                </div>
                <div class="article-content">
                    <h2>
                        Our Presence
                    </h2>
                    <p>
                        We are currently present in Bengaluru. Our offerings include varieties of hot tea, Coffee, Milk and bite-sized Made-For-Tea Snacks perfectly accompanying the morning and evening Tea ritual.
                    </p>
                </div>
                <hr/>
            </div>
            <div class="about-us-article">
                <div class="article-image">
                    <img src="./../assets/article-3.jpg"/>
                </div>
                <div class="article-content">
                    <h2>
                        Garden to Glass
                    </h2>
                    <p>
                        In order to deliver on our promise of a great tasting, we source the highest quality tea. The top-grade tea leaves we use are free of artificial colours and flavours, offering you not just great taste but also, good health each time you take a sip.
                    </p>
                </div>
                <hr/>
            </div>
        </div>
        <div class="bg-contrast footer" id="footer">
        </div>
        <script src="./../scripts/script.js">
        </script>
    </body>
</html>