<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            Teawale
        </title>
        <link href="./../styles/style.css" rel="stylesheet">
            <script src="https://use.fontawesome.com/6ff39c47d2.js">
            </script>
        </link>
    </head>
    <body>
        <div class="bg-contrast header" id="header">
        </div>
        <div class="content" id="content-wrapper">
            <div class="contact-us-image">
                <div class="contact-us-image-blend">
                </div>
            </div>
            <div class="contact-us">
                <div class="address contact-section">
                    <i aria-hidden="true" class="fa fa-home">
                    </i>
                    <h2>
                        Visit Us
                    </h2>
                    <p>
                        Head Office - Teawale
                    </p>
                    <p>
                        1st floor, Gupta tower near
                    </p>
                    <p>
                        old bus stand, Kathua - 184101
                    </p>
                    <p>
                        Opp Value and Variety mart
                    </p>
                </div>
                <div class="phone contact-section">
                    <i aria-hidden="true" class="fa fa-phone">
                    </i>
                    <h2>
                        Call Us
                    </h2>
                    <p>
                        +91-9796004400
                    </p>
                </div>
                <div class="mail contact-section">
                    <i aria-hidden="true" class="fa fa-envelope-o">
                    </i>
                    <h2>
                        Contact Us
                    </h2>
                    <p>
                        <a href="mailto:teawale.official@gmail.com">
                            Teawale.official@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-contrast footer" id="footer">
        </div>
        <script src="./../scripts/script.js">
        </script>
    </body>
</html>